{% load i18n %}

<!DOCTYPE html>
<html lang="{% get_current_language as language_code %}">
<head>
    <title>{% trans "List of Articles" %}</title>
</head>
<body>
    <h1>{% trans "Articles" %}</h1>
    <p>{% trans "Current Language Code:" %} {{ language_code }}</p>
    <ul>
        {% for article in articles %}
        <li>
            <h2>{{ article.title }}</h2>
            <p>{{ article.content }}</p>
            <p><em>{{ article.publication_date }}</em></p>
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'set_language' %}?language=en&next={{ request.path }}">English</a> | 
    <a href="{% url 'set_language' %}?language=fr&next={{ request.path }}">French</a>
</body>
</html>
